img {
  transition: transform 0.3s ease-in-out;
}
img:hover {
  transform: scale(1.2);
}
.img-container {
  position: absolute;
  display: flex;
  top: 90%;
  left: 0;
  margin-left: 50px;
}

.git-container,
.link-container,
.mail-container {
  margin-right: 50px;
}

