/* style.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: var(--main-bg);
  color: var(--text-color);
  padding: 10px;
  border-radius: 8px;
  width: 500px;
  max-width: 80%;
  box-shadow: 0 4px 6px rgba(99, 99, 99, 0.1);
  position: relative;
  border: solid 1px wheat;
}

.close-button {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close-button:hover {
  color: red;
}


/*--- --- --- FORM --- --- ---*/
.contact-form-placeholder {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.contact-form-container {
    background: var(--form-bg);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    width: 600px;
    /* Set a fixed width */
    padding: 20px;
    /* Add padding for better appearance */
    height: fit-content;
}

.contact-form-container label {
    display: block;
    margin-top: 5px;
}

#email,
#name,
#message {
    width: calc(100% - 0px);
    /* Adjust width to account for padding */
    margin-bottom: 10px;
    /* Add some bottom margin for spacing between inputs */
    max-width: calc(100% - 10px);
    min-width: calc(100% - 10px);
}

.send-button {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    font-family: 'avenirroman', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0 auto;
    /* Center horizontally */
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    /* Adjust width to account for padding */
    will-change: transform;
}

.send-button:disabled {
    pointer-events: none;
}

.send-button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.send-button:active {
    box-shadow: none;
    transform: translateY(0);
}

.error-message {
    opacity: 0%;
}