/*--- --- FONT FOR WEBSITE --- ---*/
@font-face {
  font-family: 'avenirroman';
  src: url('../font/avenir_roman_12-webfont.woff2') format('woff2'),
       url('../font/avenir_roman_12-webfont.woff') format('woff');
}

/*--- --- SET FONT FOR EVERYTHING--- ---*/
body {
  overflow: hidden;
  margin: 0;
  font-family: 'avenirroman', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*--- --- SCROLLBAR STYLING --- ---*/
::-webkit-scrollbar {
  width: 10px;
  background: var(--bg-main);
}
::-webkit-scrollbar-thumb {
  background: var(--sw-main);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--sw-hover);
}

/*--- --- COLOURS --- ---*/
:root {
  --bg-main: rgb(30, 30, 30);
  --p-text: rgb(212, 212, 212);

  /*--- --- SCROLLWHEEL COLOURS --- ---*/
  --sw-main: rgb(40,40,40);
  --sw-hover: rgb(50,50,50);

  /*--- --- RIGHT SIDE BOX --- ---*/
  --purple: rbga{199, 111, 233, 0.6}
}

/*--- --- MAIN WEBSITE --- ---*/
.home {
  background: var(--bg-main);
  height: 100vh;
  width: 100vh;
  display: flex;
  color: white;
}

/* --- --- --- --- PAGE --- --- --- ---*/
@import '/src/css/page.css';

/* --- --- --- --- ABOUT ME --- --- --- ---*/
@import '/src/css/aboutMe.css';

/* --- --- --- --- MODAL --- --- --- ---*/
@import '/src/css/modal.css';
