:root{
  --bg-main: rgb(30, 30, 30);



  --bg-temp-yellow: yellow;
  --bg-temp-green: green;
  --bg-temp-orange: orange;
  --bg-temp-red: red;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--bg-main);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@font-face {
  font-family: 'avenirroman';
  src: url('./font/avenir_roman_12-webfont.woff2') format('woff2'),
       url('./font/avenir_roman_12-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/*font-family: 'avenirroman', sans-serif;*/

body {
  margin: 0;
  font-family: 'avenirroman', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}