:root{
  --bg-main: rgb(30, 30, 30);
  --p-text: rgb(212, 212, 212);


  --bg-temp-yellow: yellow;
  --bg-temp-green: green;
  --bg-temp-orange: orange;
  --bg-temp-red: red;
}

.resume {
  background: var(--bg-main);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

@font-face {
  font-family: 'avenirroman';
  src: url('./font/avenir_roman_12-webfont.woff2') format('woff2'),
       url('./font/avenir_roman_12-webfont.woff') format('woff');
}

body {
  margin: 0;
  font-family: 'avenirroman', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* --- --- --- --- PROFILE --- --- --- ---*/
.profileBg{
  background: var(--bg-temp-green);
  position: fixed;
  top: 0;
  left: 100px;
}
.occupation{
  background: var(--bg-temp-orange);
}
.Ptext h1{ font-weight: 500;}
.Ptext{
  font-weight: 100;
  font-style: normal;
  font-size: 1.5vmax;
  color: var(--p-text);
}